/*text color set*/
.text-green{
    color: #008000;
}
/* text alignment*/
.text-center{
    text-align: center;
    /* text-align: left; */
    /* text-align: right; */
    /* text-align: end; */
    /* text-align: start; */
    /* text-align: match-parent; */
}
/*text justify*/
.text-justify{
    width: 300px;
    text-align: justify;
}
/*text indentation text line indentation*/
.text-indentation{
    text-indent: 30px;
}
/*text decoration*/
.text-decorations{
 text-decoration: overline;
 /* text-decoration: line-through; */
 /* text-decoration: underline; */
}
/*latter spacing*/
.latter-spacings{
   letter-spacing: 10px;
}
/*word spacing*/
.word-spacings{
    word-spacing: 20px;
}
/*line height*/
.line-heights{
    line-height: 30px;
}
/*word wraps*/
.word-wraps{
    width:  400px;
    word-wrap: break-word;
}
/*vatical alignment*/
p.one img{
    vertical-align: top;
}
p.two img{
    vertical-align: middle;
}
p.thre img{
    vertical-align: baseline;
}